<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth using passport.js</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
    <div class="main">
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo" style="margin-left: 20px;">OAuth</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/google">Google</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
